section.reviews.block(id='reviews').bg
	.container
		h2.title Отзывы покупателей Ashwamin
		.reviews-content
			.reviews-panel
				.star-box
					.reviews-headStar(style={'width': '112px'})
					.reviews-amount 130 отзывов
				button.btn.reviews-btn Оставить отзыв
			.feedback
				.feedback-form
					.feedback-top
						.feedback-name
							input.feedback-name-input.input__val-1(
									type='text'
									name='name'
									required
									placeholder='Ваше имя'
								)
						.feedback-city
							input.feedback-name-input.input__val-2(
									type='text'
									name='name'
									required
									placeholder='Ваш город'
								)
						.feedback-assessment Ваша оценка
						.feedback-rating
							img.star1(src='img/star.png')
							img.star2(src='img/star.png')
							img.star3(src='img/star.png')
							img.star4(src='img/star.png')
							img.star5(src='img/star.png')
					.feedback-text
						textarea.feedback-text-input.input__val-3(name="" placeholder='Ваш отзыв')
					.feedback-btn.btn.reviews-btn Отправить
				.feedback-modal
					.feedback-modal__inner
						.feedback-modal__title Спасибо!
						.feedback-modal__text Ваш отзыв отправлен на модерацию
			ul.reviews-list
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Т
						.reviews-item-title
							h4.reviews-item__name Татьяна У
							h5.reviews-item__age 61 год
						.reviews-item__rating
					.reviews-item__text Пишу отзыв, потому, как до сих пор нахожусь под впечатлением от этого препарата. Решила делать профилактику от глистов и захотелось чего-то новенького. Так Ashwamin и заказала. Препарат показал себя очень хорошо и, что меня удивило — не было никаких побочных эффектов, голова не кружилась, никакой слабости я не ощущала. 
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 12
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-1
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar М
						.reviews-item-title
							h4.reviews-item__name Маргарита М. 
							h5.reviews-item__age  58 лет
						.reviews-item__rating
					.reviews-item__text Решили поститься с мужем после поездки на шашлыки, так как было подозрение, что мясо было приготовлено не очень хорошо. Ashwamin нам доставили всего за два дня, хотя обещали за три доставить. Вкус нейтральных, даже не замечаешь, что какое-то лекарство пьешь. Советую, пропили и довольны, паразитов не боимся. 
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 24
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-2
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar О
						.reviews-item-title
							h4.reviews-item__name Олег Т.
							h5.reviews-item__age 63 года
						.reviews-item__rating
					.reviews-item__text Очень советую препарат Ashwamin, так как эффект этого средство очень хороший. Когда начались проблемы с кишечником и живот стал болеть, я понял, что это паразиты. Заказал Ashwamin, пропил и все стало отлично. Энергия бьет ключом, настроение просто замечательное, не такое, как было раньше. Чувствую себя просто прекрасно.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 27
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-3
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Валентин Е.
							h5.reviews-item__age 57 лет
						.reviews-item__rating(style={width: '105px'})
					.reviews-item__text Даже удивительно, что такой хороший препарат не найти в аптеке, а нужно заказывать на сайте производителя. Так как я очень долго никак не мог вывести глистов. А после курса ashwamin все анализы показали, что организм чист. Это очень хороший препарат, который помог мне привести в порядок здоровье.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 29
							.social__button
								span.dislike.social__img
								span.social__count 
						.reviews-item__date.date-5
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Анастасия Б.
							h5.reviews-item__age 59 лет
						.reviews-item__rating
					.reviews-item__text Никогда бы не подумала, что аллергия на коже связана с паразитами, но у меня было именно так. У меня сыпь появилась, сначала косметолог ее лечила, а потом в больнице мне сказали, что это на паразитов реакция. Избавлялась я от них как раз с помощью ashwamin. Супь прошла спустя одну недельку, как я прием начала. Я довольна, хороший препарат.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 16
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-6
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar К
						.reviews-item-title
							h4.reviews-item__name Константин В.
							h5.reviews-item__age 62 года
						.reviews-item__rating
						
					.reviews-item__text Пользуюсь ashwamin для профилактики паразитов. Так как у него спокойное и мягкое действие. А то я пил как-то таблетки, так потом голова кружилась три дня подряд, а про работу кишечника я вообще не говорю.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 12
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-6
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Т
						.reviews-item-title
							h4.reviews-item__name Татьяна C.
							h5.reviews-item__age 64 года
						.reviews-item__rating
						
					.reviews-item__text Купила только из-за состава, так как читала про ашваганду. Это растение не только от паразитов помогает, но и для суставов. На суставы я как раз не жаловалась, а вот с паразитами надо было разобраться. И разобралась хорошо, так чувствую себя, как будто организм от всего лишнего избавился.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 23
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-7
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Анжелика О.
							h5.reviews-item__age 59 лет
						.reviews-item__rating
					.reviews-item__text Поставила бы все 10 баллов Ashwamin, но не могу, так как доставка на этот раз подкачала. На сам препарат нареканий у меня нет, я его уже второй заказываю. Первый для мужа, а сейчас для себя. Эффект тот, который и должен быть. Паразитов вывели. Но вот, что задержали с доставкой на день, осадочек остался.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 27
							.social__button
								span.dislike.social__img
								span.social__count 4
						.reviews-item__date.date-8
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar М
						.reviews-item-title
							h4.reviews-item__name Марина Ш.
							h5.reviews-item__age 56 лет
						.reviews-item__rating
					.reviews-item__text Со мной произошло чудо. Пропила Ashwamin и мой хронический насморк исчез! Но это еще не все. Я стала, как батарейка, очень много энергии, очень много успеваю и по дому и на работе. Внимание стало лучше и память. Вот так получается, когда выведешь паразитов.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-bottom
						.reviews-assessment
							.social__button
								span.like.social__img 
								span.social__count 34
							.social__button
								span.dislike.social__img
								span.social__count 0
						.reviews-item__date.date-10
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина 
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Трещины на пятках заживляет хорошо, еще помог убрать грибок с ногтей, отрастают здоровые.

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 53
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-10
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина 
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Средство нормально работает, я довольна, что получила именно то, за что заплатила.

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 14
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-11
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
				//- 	.reviews-item__text Работает. Стопы не чешутся.  

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 11
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-11
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Лечила им грибок, который на пляже подцепила и скажу, что пока что это средство номер 1 от грибка.

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 18
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 3
				//- 		.reviews-item__date.date-12
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Совсем забыл о грибке. Класс!

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 22
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-14
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Хорошая альтернатива дорогим препаратам, только доставка долго идет. Четыре дня. 

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 14
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-14
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Проверил на себе, препарат хороший. 

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 28
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-14
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating(style={width: '90px'})
						
				//- 	.reviews-item__text Ничего сверхъествественного, обычное средство, которое очищает стопы от грибка. Стоит как и все, доставка на почту, пользоваться тоже удобно. Запаха химического нет, не жирный. В самый раз.

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 11
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 5
				//- 		.reviews-item__date.date-15
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Выкинул старую обувь и заказал себе nomidol, чтобы ноги подлечить. Процесс пошел, зуда уже нет, покраснений тоже нет, запах тоже исчез. Думаю, что через пару недель вообще ноги будут в порядке и больше никакого грибка у меня не будет.

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 17
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-16
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Очень довольна этим препаратом.

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 9
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-17
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Купила и себе и мужу, а то уверена, что это я от него грибок подхватила. 

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 18
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-18
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating(style={width: '94px'})
						
				//- 	.reviews-item__text В принципе, хороший крем, вот только флакон маленький его только на месяц хватает, хотя если экономить, может хватить и на полтора, но эффект я думаю будет не такой.

				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 21
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 4
				//- 		.reviews-item__date.date-19
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Пользуюсь и пока всем довольна.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 27
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-20
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Хорошее и универсальное средство от грибка, которое реально работает.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 19
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-21
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text Хороший состав и не раздражает кожу.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 47
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-22
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
					
				//- 	.reviews-item__text Для того, кто много работает, это очень удобная штука, потому что ноги почесать, когда в туфлях стоишь не очень удобно. А один раз намазал и стопы вообще не беспокоят.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 23
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 7
				//- 		.reviews-item__date.date-22
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
						
				//- 	.reviews-item__text После использования этого крема у меня остались только лучшие ощущения, он теперь всегда будет у меня в аптечке.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 24
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-24
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
				//- 	.reviews-item__text Помогает от грибка.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 14
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 0
				//- 		.reviews-item__date.date-26
						
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar Ж
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Женщина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating
				
				//- 	.reviews-item__text Смогла вывести весь грибок.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 17
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 3
				//- 		.reviews-item__date.date-26
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar M
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating(style={width: '88px'})
						
				//- 	.reviews-item__text Доставка подвела! На сам препарат нареканий нет!
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 31
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 12
				//- 		.reviews-item__date.date-26
				//- li.reviews-list-item
				//- 	.reviews-item-top
				//- 		.reviews-item-avatar М
				//- 		.reviews-item-title
				//- 			h4.reviews-item__name Мужчина
				//- 			h5.reviews-item__age 61 год
				//- 		.reviews-item__rating(style={width: '80px'})
					
				//- 	.reviews-item__text Доволен, смог вывести грибок, который подцепил в армии.
				//- 	button.reviews-item__btn Прочитать весь отзыв
				//- 	.reviews-bottom
				//- 		.reviews-assessment
				//- 			.social__button
				//- 				span.like.social__img 
				//- 				span.social__count 19
				//- 			.social__button
				//- 				span.dislike.social__img
				//- 				span.social__count 3
				//- 		.reviews-item__date.date-28




